        body {
            margin: 0;
            padding: 0;
            background-color: #535353;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bolder;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        #navbar {
            background-color: #535353;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 100%;
            font-size: 10px;
            text-align: center;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        #navbar a {
            margin-right: 5px;
            font-weight: bold;
        }

        #frame {
            background-color: #c6c6c6;
            width: 940px;
            padding: 20px;
            padding-top: 7px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        #content {
            background-color: #eeeeee;
            width: 650px;
            box-sizing: border-box;
            position: relative;
        }

        #content h1 {
            margin-left: 32px;
            margin-right: 32px;
        }

        .text-above-image {
            color: #000000;
            font-size: 14px;
            line-height: 1.6;
            margin-bottom: 12px;
            text-align: center;
        }

        .comic-panel img {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 12px;
        }

        .dialogue {
            color: #000000;
            font-size: 14px;
            margin-top: 20px;
            margin: 32px;
            text-align: center;
        }

        .console-link {
            display: inline-flex;
            align-items: center;
            margin: 20px 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #0000EE;
            font-weight: 100;
        }

        .console-link .arrow {
            color: #000000;
            font-size: 16px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: lighter;
            margin-right: 5px;
            font-weight: 100;
        }

        .console-link .text {
            font-size: 14px;
        }
        
        .bottom-bit{
            position: absolute;
            bottom: 2px;
            left: 12px;
        }

        .bottom-bit a, .bottom-bit span{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 10px;
        }